---
---
$baseurl: "{{ site.baseurl }}";
@import "reset";
@import "fonts";
@import "typography";
@import 'cooktimes';

@media print {
    .index {
        display: none;
    }

    body {
        background: #fff !important;
        color: #000;
    }
    a {
        page-break-inside: avoid;
    }
    blockquote {
        page-break-inside: avoid;
    }
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        page-break-after: avoid;
        page-break-inside: avoid;
    }
    img {
        page-break-inside: avoid;
        page-break-after: avoid;
    }
    table,
    pre {
        page-break-inside: avoid;
    }
    ul,
    ol,
    dl {
        page-break-before: avoid;
    }
    a:link,
    a:visited,
    a {
        background: transparent;
        color: #000;
        font-weight: bold;
        text-decoration: underline;
        text-align: left;
    }
    a {
        page-break-inside: avoid;
    }
    a[href^="http"]:after {
        content: " <" attr(href) "> ";
    }
    a:after > img {
        content: "";
    }
    article a[href^="#"]:after {
        content: "";
    }
    a:not(:local-link):after {
        content: " <" attr(href) "> ";
    }
}

