---
---
$baseurl: "{{ site.baseurl }}";
@import 'reset';
@import 'fonts';
@import 'theme';
@import 'typography';
@import 'cooktimes';

body {
    padding: 2rem;
}

.index {
    font-size: smaller;
    margin: 0;
    &:before {
        content: "🠔 ";
    }
}

