---
---
$baseurl: "{{ site.baseurl }}";
@import 'reset';
@import 'fonts';
@import 'theme';
@import 'typography';
@import 'cooktimes';

body {
    padding: 2rem;
}

footer {
    font-size: smaller;
    border-top: 1px solid var(--text-color);
    padding: 0.5em;
    svg {
        height: 1em;
        fill: currentColor;
    }
}
