figure {
    width: 100%;

    figcaption {
        text-align: center;
        font-size: small;
    }
}

picture.photo {
    width: 100%;

    img {
        max-width: 100%;
        margin: 1rem auto 0;
    }
}

svg {
    height: 1em;
    fill: currentColor;
}

