:root {
    color-scheme: light dark;
}

body {
  --text-color: #000;
  --url-color: #6200ee;
  --background-color: #fff;

  &.dark-theme {
    --text-color: #fff;
    --url-color: #bb86fc;
    --background-color: #121212;
  }
}

@media (prefers-color-scheme: dark) {
  body {
    --text-color: #fff;
    --url-color: #bb86fc;
    --background-color: #121212;

    &.light-theme {
        --text-color: #000;
        --url-color: #6200ee;
        --background-color: #fff;
    }
  }
}

body {
  background: var(--background-color);
}

h1, h2, h3, span,
p {
  color: var(--text-color);
}

a, a:link, a:active, a:visited {
    color: var(--url-color);
}

a:hover {
    color: var(--text-color);
}

